 body {
    margin: 0%;
    height: 100vh;
	width: 100vw;
    overflow: hidden;
 }
 
 a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

 #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1vh;
    padding: 25px 30px 25px 30px;
    color:darkcyan;
    font-family: "Open sans",sans-serif;
    font-size: 20px;
    font-weight: bold;

}

#Title {
    display:flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    
}

#headright {
    display: flex;
    height: 1vh;
    width: 200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 15px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image:url(./images/background.jpg); 
    background-size:cover;
    height: 99vh;


}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: normal;
    font-family: "Open sans",sans-serif;
    font-size: 20px;
}


#container {
    
    display: flex;
    justify-content: flex-start;
    align-content: center;

}

.Card {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 400px;
	width: 300px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 20px;
	background-color: white;
}

#dates {

    
}


.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #f1f3f3;
    height: 98%;  
    
}

input {
    width: 250px;
    height: 50px;
    border:none;
    background-color: #f1f3f3;
     
}

input:hover {
    background-color: #dfe0dd;
}

 
button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
    width: 250px;
	background-color: #4ea890;
	font-size: 15px;
	color: white;
	border: none;
	cursor: pointer;
	font-weight: bold;

}

#destination {

    display: flex;
    flex-direction: column;
    align-content: center;

}

#trips {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #4ea890;
    font-family: "Open sans",sans-serif;
}

#tripslogo {
    height: 150px;
    width: 150px;
    background-image: url('./images/train.png');
    background-size: cover;

    
}

.divider {
    background-color: #ababab;
    height: 1px;
    width: 100%;
    z-index: 1;
  }

  .dividergreen{
    background-color: #4ea890;
    height: 1px;
    width: 80%;
    z-index: 1;
  }


  .trip{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    background-color: #f1f3f3;
  }

.info {
    display: flex;
    font-family: "Open sans",sans-serif; 
    color: black;
    font-weight: bold;
    font-size: 10;

}
    


#book {
    display: flex;
	height: 20px;
    width: 50px;
	background-color: #4ea890;
	font-size: 10px;
	color: white;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

